//Go to materialpalette.com for color design
$primary-color: #673ab7;
$primary-color-dark: #512da8;
$accent-color: #009688;
$text-color: #ffffff;
$alt-text: #212121;
$secondary-text: #757575;

// Fonts
$primary-font: 'Lato', sans-serif;
$secondary-font: 'Raleway', sans-serif;

$padding-sm: 0.5em;

* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 font-family: $primary-font;
 line-height: 1.75;
}

a{
  text-decoration: none;
  color: indianred;
}

 ul{
      list-style-type: none;
    }


  .hidden{
    left: -270px;
    transition: ease-out 1s;
  }
  .btn{
    padding: 0.5em;
    background-color: $primary-color-dark;
    color: $text-color;
    border: none;
    width: 100%;
    cursor: pointer;
    margin-top: 1em;
    
  }
  .card{
  border: 1px solid $alt-text;
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin: 1em;
}
.center {
  text-align: center;
}
  
  header{
    display: flex;
 //   position: sticky;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em;
    background-color: $accent-color;
    color: $text-color;
    max-height: 100px;
    span{
      cursor: pointer;
    }
    .site-title{
      font-size: 2em;
      a{
        color: gold;
      text-decoration: none;
      }
    }
  }
  #main-nav{
    height: calc(100vh - 100px);
    //left: 0;
    width: 270px;
    position: absolute;
    background-color: $primary-color-dark;
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    align-items: center;
    //justify-content: center;
    transition: ease-in 1s;
   

    a{
      color: $text-color;
      text-decoration: none;
    }
  }
  main{
    height: calc(100vh - 100px);
    overflow-y: scroll;
    scroll-snap-type: y mandatory;

     div{
      // min-height: 100%;
      scroll-snap-align: start;

     }
    
  }
  #welcome{
    background-color: gold;
    padding: 2em;
    height: 100%;
    .text{
      margin-top: 20%;
      padding: 1em;
      //border: 1px solid black;
    }
    .btn{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .form{
      //margin-top: 10%;
      .error-text{
        color: orangered;
      }
      form, .input-group{
        display: flex;
        flex-direction: column;
        
      }  
    }
  }
  #services{
    padding-top: 2em;
    min-height: 100%;
    .card{
      height: max-content;
    }
  }
  #support{
    height: 100%;
    background-color: $primary-color-dark;
    color: $text-color;
    padding-top: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .card{
      border-color: $text-color;
    }
    .contacts p{
      display: flex;
      align-items: center;
      a{
        color: $text-color;
        
      }
      span{
        margin-right: 0.5em;
      }
    }
  }
  footer{
    padding: 0.5em;
  }

  @media screen and (min-width: 768px) {
 
#welcome{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
  
}
#services{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 70px auto;
 
  .title{
    grid-column: span 3;
  }
}

}

